# old emails
Michael Heider <michael.heider@protonmail.ch> Michael <miheider@bluewin.ch>

# generic GitHub emails
Michael Heider <michael.heider@protonmail.ch> Bauboo <49592932+Bauboo@users.noreply.github.com>
Michael Heider <michael.heider@protonmail.ch> Michael Heider <49592932+Bauboo@users.noreply.github.com>
