# old email addresses
Michael Heider <michael@heider.org> Michael <miheider@bluewin.ch>
Michael Heider <michael@heider.org> Michael Heider <michael.heider@protonmail.ch>

# generic GitHub email addresses
Michael Heider <mmichael@heider.org> Bauboo <49592932+Bauboo@users.noreply.github.com>
Michael Heider <michael@heider.org> Michael Heider <49592932+Bauboo@users.noreply.github.com>
