{% set email = __SELF__ %}

<span class="spamspan-replace">
	<span class="local">{{ email.local }}</span>
	[at]
	<span class="domain">{{ email.domain }} [dot] {{ email.tld }}</span>

	{% if email.hasOptional %}
	(
		{% if email.anchor %}
			<span class="anchor">{{ email.anchor }}</span>,
		{% endif %}
		{% if email.subject %}
			<span class="subject">{{ email.subject }}</span>,
		{% endif %}
		{% if email.body %}
			<span class="body">{{ email.body }}</span>,
		{% endif %}
	)
	{% endif %}
</span>